<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>예약 하기</title>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/ajax/pansion/style.css">
    </head>
    <body>
        <div id="wrap">
            <header class="d-flex justify-content-center">
                <div class="logo col-4 d-flex justify-content-center pt-2">
                    <div class="display-4">통나무 팬션</div>
                </div>
            </header>
            <nav class="main-menu d-flex">
                <ul class="nav nav-fill w-100 font-weight-bold">
                    <li class="nav-item"><a href="#" class="nav-link text-white">팬션소개</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white">객실보기</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white">예약하기</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white">예약목록</a></li>
                </ul>
            </nav>
            <section class="contents">
                <div class="t-title d-flex justify-content-center align-items-center">
                	<h2 class="font-weight-bold">예약 하기</h2>
                </div>
               
                	<div>
	                	<label>이름</label>
	                	<input class="form-control" type="text" id="nameInput">
	                	<label>예약날짜</label>
	                	<input class="form-control" type="text" id="dateInput">
	                	<label>숙박일수</label>
	                	<input class="form-control" type="text" id="dayInput">
	                	<label>숙박인원</label>
	                	<input class="form-control" type="text" id="headcountInput">
	                	<label>전화번호</label>
	                	<input class="form-control" type="text" id="phoneNumberInput">
	                	<button class="btn btn-warning btn-block" type="button" id="inputBtn">예약 하기</button>
	                	
                	</div>
               
            </section>
            <footer class="p-3 pl-4">
                <div class="copyright text-muted">
                    제주특별자치도 제주시 예월읍<br>
                    사업자등록번호: 111-22-255222 / 농어촌민박사업자지정 / 대표:김통목<br>
                    Copyright 2025 tongnamuu All right reserved
                </div>
            </footer>
        </div>



        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
        <script>
            $(function() {
            	
            	$("#inputBtn").on("click", function() {
            		let name = $("#nameInput").val();
            		let date = $("#dateInput").val();
            		let day = $("#dayInput").val();
            		let headcount = $("#headcountInput").val();
            		let phoneNumber = $("#phoneNumberInput").val();
            		
            		if(name == "") {
            			alert("이름을 입력하세요");
            			return ;
            		}
            		if(date == "") {
            			alert("예약날짜를 선택하세요");
            			return ;
            		}
            		if(day == "") {
            			alert("숙박일수를 입력하세요");
            			return ;
            		}
            		if(day % 1 !== 0) {
            			alert("올바른 숙박일수를 입력하세요");
            			return ;
            		}
            		if(headcount == "") {
            			alert("숙박인원을 입력하세요");
            			return ;
            		}
            		if(headcount % 1 !== 0) {
            			alert("올바른 숙박인원를 입력하세요");
            			return ;
            		}
            		if(phoneNumber == "") {
            			alert("전화번호를 입력하세요")
            			return ; 
            		}
            		let phonerule = /^(010)[0-9]{3,4}[0-9]{4}$/;
                    if(!phonerule.test(phoneNumber)) {
                        alert("올바른 전화번호를 입력하세요.")
                        return;
                    }
            		
                    $.ajax({
                    	type:"post"
                    	, url:"/ajax/booking/create"
                    	, data:{"name":name, "date":date, "day":day, "headcount":headcount, "phoneNumber":phoneNumber}
                    	, success:function(response) {
                    		
                    	}
                    	, error:function(response) {
                    		
                    	}
                    })
            		
            		
            	})
            	
            	
            	
            	$("#dateInput").datepicker({
                    dateFormat:"yy-mm-dd",
                    dayNamesMin:["일", "월", "화", "수", "목", "금", "토"],
                    minDate:0
                });
            	
            	
            })
        </script>
    </body>
</html>