<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>날씨 입력</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/css/thymeleaf/style.css">
</head>
<body>
	<div id="wrap">
	<div class="d-flex">
	<div class="col-2 bg-primary">
		<header>
				<a class="logo d-flex allign-items-center justify-content-center" href="/thymeleaf/weather/history"><img width="100" src="https://i.namu.wiki/i/O4LQHBhs-xO9MtRaDmKBJpTwq_4JB4Sv1xfg40iTVHIh0AJdX0O5deGX7oHlcQAg98Xjc8JWrngC819fS2nRqg.svg"></a>
		</header>
		<nav>
			<ul class="navbar-nav font-weight-bold">
				<li class="nav-item text-white mt-2 mb-3"><a href="/thymeleaf/weather/history" class="nav-link text-white">날씨</a></li>
				<li class="nav-item mt-2 mb-3"><a href="/thymeleaf/weather/input" class="nav-link text-white">날씨입력</a></li>
				<li class="nav-item text-white mt-2 mb-3"><a href=# class="nav-link text-white">테마날씨</a></li>
				<li class="nav-item text-white mt-2 mb-3"><a href=# class="nav-link text-white">관측 기후</a></li>
			</ul>
		</nav>
	</div>
	<section class="col-10">
		<h1 class="mb-4">날씨 입력</h1>
		<form method="post" action="/thymeleaf/weather/create">
			<div class="d-flex mb-4 ">
				<div class="col-4">
					<label>날짜</label>
					<input type="text" class="form-control" name="date">
				</div>
				<div class="col-4">
					<label>날씨</label>
					<select class="form-control" name="weather">
						<option value="맑음">맑음</option>
						<option value="구름조금">구름조금</option>
						<option value="흐림">흐림</option>
						<option value="비">비</option>
					</select>
				</div>
				<div class="col-4">
					<label>미세먼지</label>
					<select class="form-control" name="microDust">
						<option value="좋음">좋음</option>
						<option value="보통">보통</option>
						<option value="나쁨">나쁨</option>
						<option value="최악">최악</option>
					</select>
				</div>
			</div>
			<div class="d-flex mb-4">
				<div class="col-4">
					<label>기온</label>
					<input type="text" class="form-control" name="temperatures">
				</div>
				<div class="col-4">
				<label>강수량</label>
					<input type="text" class="form-control" name="precipitation">
				</div>
				<div class="col-4">
					<label>풍속</label>
					<input type="text" class="form-control" name="windSpeed">
				</div>
			</div>
			<div class="d-flex justify-content-end">
				<button type="submit" class="btn btn-success font-weight-bold">저장</button>
			</div>
		</form>
	</section>
	</div>
	<footer class="d-flex">
		<div class="col-2 d-flex justify-content-center align-items-center">
				<img width="170" height="68.48" src="https://aphrosys.com/img/partners_white/kma.png">
		</div>
		<div class="d-flex align-items-center text-muted ml-2">(07062) 서울시 동작구 여의대방로16길 61<br>Copyright@2020 KMA. All Rights RESERVED.</div>
	</footer>
	</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>